@model IEnumerable<Post>

<link href="~/css/datatables.css" rel="stylesheet" />

<table id="myTable" class="table">
    <thead>
        <tr><th>Post Name</th><th>Test column</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>Test</td>
                <td>
                    <form method="post">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-sm btn btn-primary">Создать связь</a>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>


