.card-img-top {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.owl-prev {
    left: -15px;
}

.owl-next {
    right: -15px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 90px;
}

.owl-prev span, .owl-next span {
   font-size: 60px;
   color: black;
 }

.owl-theme, .owl-nav[class*="owl-"]:hover {
    background: transparent;
}


.carousel-inner img {
    width: 900px;
    height: 500px;
    max-width: 900px;
    max-height: 500px;
}

.checked {
    color: orange;
}
