
body {
    /* Margin bottom by footer height */
    font-family: 'Popins';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 60px;
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}*/

.card-img-top {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 90px;
}

    .owl-prev span, .owl-next span {
        font-size: 80px;
        color: black;
    }

.owl-theme, .owl-nav[class*="owl-"]:hover {
    background: transparent;
}


.carousel-inner img {
    width: 900px;
    height: 500px;
    max-width: 900px;
    max-height: 500px;
}

.checked {
    color: orange;
}
