<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="laba25_Pharmacy.Properties.Settings.PharmacyConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Pharmacy.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="laba25_Pharmacy.Properties.Settings.C__USERS_HP_SOURCE_REPOS_LABA25_PHARMACY_LABA25_PHARMACY_BIN_DEBUG_PHARMACY_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\HP\SOURCE\REPOS\LABA25_PHARMACY\LABA25_PHARMACY\BIN\DEBUG\PHARMACY.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>